<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<resultMap id="resultMember" type="Member">
		<id property="userId" column="userId" />
		<result property="userPwd" column="userPwd" />
		<result property="userName" column="userName" />
		<result property="gender" column="gender" />
		<result property="age" column="age" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
		<result property="hobby" column="hobby" />
		<result property="etc" column="etc" />
		<result property="enroll" column="enroll" />
		<result property="lastModified" column="lastModified" />
	</resultMap>
	
	<resultMap id="resultList" type="Member">
		<id property="userId" column="userId" />
		<result property="userPwd" column="userPwd" />
		<result property="userName" column="userName" />
		<result property="gender" column="gender" />
		<result property="age" column="age" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
		<result property="hobby" column="hobby" />
		<result property="etc" column="etc" />
		<result property="enroll" column="enroll" />
		<result property="lastModified" column="lastModified" />
	</resultMap>
	
	<update id="updateMember" parameterType="Member" flushCache="true" statementType="PREPARED">
	 Update MEMBER set 
	 userpwd = #{userPwd}, 
	 age = #{age}, 
	 phone = #{phone}, 
	 email = #{email}, 
	 hobby = #{hobby}, 
	 etc = #{etc},
	 lastmodified = default	 
	 where 
	 userid = #{userId}
	</update>
	
	<select id="loginMember" resultMap="resultMember" parameterType="Member">
		select * from member 
		
		where userid= #{userId} 
		
		and userpwd = #{userPwd}
		
	</select>
	
	<delete id="deleteMember" parameterType="String">
	delete from member where userid = #{userId}
	</delete>
	
	<select id="selectMember" parameterType="Member" resultMap="resultMember">
	select * from member where userid = #{userId}
	</select>
	
	<select id="selectList">select * from member</select>
	<select id="selectCheckId">select count(userid) from member where userid = #{userId}</select>
	
	<insert id="insertMember" parameterType="Member">
	insert into member values (#{userId}, #{userPwd}, #{userName}, #{gender}, #{age}, #{phone}, #{email}, #{hobby}, #{etc}, sysdate, sysdate)
	</insert>

	

</mapper>
